@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
:root{
    --color-dark:black;
    --color-light:white;
    --primary-color:#ffb907;
    --font:poppins;
    --font-logo:bebas neue;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
#interface{
    margin:15px;
    width:700px;
    height:570px;
    font-family: ubuntu;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--color-light);
    border-radius: 15px;
    display:none;
    grid-template-rows: 60% 1fr;
}
#part1{
    font-family: var(--font-logo);
    letter-spacing: .5rem;
    background-color: var(--primary-color);
    border-radius:15px 15px 70% 70%;
    width:100%;
    height:100%;
}
#part1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#part1 img{
    width:200px;
}
#part2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
#part2 button{
    padding:15px;
    width:50%;
    border-radius: 10px;
    border:none;
    background-color: var(--primary-color);
}
#part2 button:hover{
    background-color: #c9981a;
    cursor: pointer;
}
#container{
    margin:15px;
    width:700px;
    height:570px;
    font-family: ubuntu;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--color-light);
    border-radius: 15px;
    overflow-y: scroll;
    position: relative;
}
header{
    margin: 20px 0px 10px 0px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items:center;
    
}
header img{
    width:70px;
}
header i{
    font-size: 20px;
}
#searchbox{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin:8px auto;
}
#searchbox input{
    padding:15px;
    width:60%;
    border: none;
    background-color:aquamarine;
    border-radius: 10px;
}
#searchbox button{
    padding:12px;
    font-size: 18px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
}
#popular,#recent{
    margin:15px auto;
    font-size: 14px;
    width:70%;
}
.side-scroll{
    display:flex;
    gap:20px;
    width:100%;
    overflow-x: scroll;
    margin-bottom:10px;
}
.side-scroll img{
    margin-top: 12px;
    width: 120px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
nav{
    position: sticky;
    bottom: 0;
    width: 100%;
    height:50px;
    border-radius: 15px 15px 0px 0px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
@media only screen and (max-width:600px){
    #searchbox{
        gap:20px;
    }
    input{
        width:100%;
    }
    nav{
        position:fixed;
        bottom:0;
        border-radius: 8px;
    }
    .side-scroll img{
        width:100px;
    }
    #popular,#recent{
        width:85%;
    }
    .side-scroll{
        margin-left:0;
    }
    #interface{
        height:100svh;
        width:100%;
        margin:0;
    }
    #part1{
        border-radius: 0px 0px 40% 40%;
        height:90%;
    }
    #part2{
        font-size:14px;
    }
    #container{
        margin:0;
        border-radius: 0;
        width:100vw;
        min-height:100vh;
    }
}
@media only screen and (min-width:600px){
    .side-scroll::-webkit-scrollbar ,#container::-webkit-scrollbar{
        width: 20px;
        height:20px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 15px;
        border: 7px solid white;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 15px;
        border: 7px solid white;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    
}